<aside id="navbar">
    <h4>Explore Dragon World</h4>
    <div class="line"></div>
    <figure>
        <img src="/images/dd1.jpg" alt="Dragon" height="150">
        <figcaption><a href="/">Home</a></figcaption> 
    </figure>
    <div class="line"></div>
    <figure>
        <img src="/images/dd2.jpg" alt="Dragon" height="150">
        <figcaption><a href="/images">Images</a></figcaption> 
    </figure>
    <div class="line"></div>
    <figure>
        <img src="/images/dd3.jpg" alt="Dragon" height="150">
        <figcaption><a href="/media">Media</a></figcaption> 
    </figure>
    <div class="line"></div>
    <figure>
        <img src="/images/dd5.jpg" alt="Dragon" height="150">
        <figcaption><a href="/feedback">Feedback</a></figcaption> 
    </figure>
</aside>