<nav id="nav_menu">
    <ul>
        <li><a href="/" class="current">Home</a></li>
        <li><a href="/images">Images</a>
            <ul>
                <li><a href="/">Drawing</a>
                    <ul>
                        <li><a href="/">Ice Dragon</a></li>
                        <li><a href="/">Fire Dragon</a></li>
                        <li><a href="/">Rain Dragon</a></li>
                        <li><a href="/">Forest Dragon</a></li>
                        <li><a href="/">Night Dragon</a></li>
                    </ul>
                </li>
                <li><a href="/">Photo</a>
                    <ul>
                        <li><a href="/">Ice Dragon</a></li>
                        <li><a href="/">Fire Dragon</a></li>
                        <li><a href="/">Rain Dragon</a></li>
                        <li><a href="/">Forest Dragon</a></li>
                        <li><a href="/">Night Dragon</a></li>
                    </ul>
                </li>
                <li><a href="/">Coloring</a>
                    <ul>
                        <li><a href="/">Ice Dragon</a></li>
                        <li><a href="/">Fire Dragon</a></li>
                        <li><a href="/">Rain Dragon</a></li>
                        <li><a href="/">Forest Dragon</a></li>
                        <li><a href="/">Night Dragon</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/media">Media</a>
            <ul>
                <li><a href="/">Ice Wing Dragon</a></li>
                <li><a href="/">Fire Wing Dragon</a></li>
                <li><a href="/">Rain Wing Dragon</a></li>
                <li><a href="/">Forest Wing Dragon</a></li>
                <li><a href="/">Night Wing Dragon</a></li>
            </ul>
        </li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
</nav>
